/* background: #161616 */
/* Card: #1c1c1c */
/* Border: #232323 */
/* Misc: #b6b6b6 */
/* Accent: #2b2b2b */

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 3%;
}

.search i {
  padding: 5px;
  color: #7f7f7f;
  /* background-color: #2b2b2b; */
  font-size: 30px;
}

.search input {
  width: 50%;
  font-size: 16px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #2b2b2b4a;
  border: 0.5px solid #2b2b2b;
  color: #7f7f7f;
  outline: none;
  transition: 0.7s;
}

.search input:focus {
  border: 0.5px solid #484848;
  background-color: #2b2b2b;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 60vh;
  gap: 2%;
}

.card {
  width: 28%;
  height: 90%;
  border: 0.5px solid #484848;
  border-radius: 17px;
  overflow: scroll;
  color: #7f7f7f;
  padding: 1%;
  transition: 0.7s;
}

.card:hover {
  background-color: #2b2b2b;
  border: 0.5px solid #7f7f7f;
}

.card a:hover {
  color: #fff;
  text-decoration: underline #f2f2f2;
}

.card h1 {
  color: #7f7f7f;
  text-align: center;
  font-size: 1.2rem;
}

.dock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  width: 83%;
  height: 12%;
  gap: 1%;
  padding-top: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0.5%;
  border-radius: 15px;
  background-color: #2b2b2b4a;
}

.dock .licons {
  height: 70px;
  width: 70px;
  border: 0.5px dashed #484848d5;
  border-radius: 10px;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  font-size: 30px;
}

.dock .licons img{
  opacity: 0.4;
  transition: 0.7s;
}

.dock .licons img:hover{
  opacity: 1;
}

.dock .licons:hover {
  color: #f2f2f2;
  background-color: #2b2b2b;
  border: 0.5px solid #7f7f7f;
}
